* {
	margin: 0;
	padding: 0;
}

#header  {
	background-image: linear-gradient(rgb(84, 180, 235), rgb(47, 164, 231));
	font-size: 1.1em;
 	color:#ffffff;
	padding: 1.5em 0;
	text-align: center;
	border-bottom: 1.5em solid #ceedf4;
	text-shadow: 8px 8px 16px rgba(0,0,0, 0.5);
}

#header .title{
	display:block;
	font-size: 3.5em;
	margin-bottom:0.25em;
}

#header a{
	text-decoration:none;
        color: #ffffff;
	font-weight:bold;
}
#header .curr{
	color: #ffff88;
}

#header img{
	margin-bottom:-3px;
	filter: drop-shadow(8px 8px 8px rgba(0,0,0, 0.5));
}
 
.post {
	min-height:100px;
}

.post img, .post video
{
	display:block;
	margin:0px auto 15px auto;
}
.post .fullw {  /* images in posts */
	width : 100%;
	margin-bottom: 1.2em;
}
.post .inline {  /*  Tool images at /learn */
	display:inline;
	height:40px;
	margin:0 0.5em 0 0;
}

#footer {
	text-align: center;
	padding: 2em;
	background: #252525;
	color: #aaa;
}

.entry {
	line-height: 1.5em;
	margin-top: 10px;
}

.post p, .post ul {
	line-height: 1.5em;
	margin: 1em 0;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size:1.05em;
	color: rgba(0,0,0,0.8);
	background-color:rgb(253,253,253);
}
a {
	color: rgb(41, 153, 240);
}
.date {
	font-size: 0.9em;
	color: rgb(158, 171, 179);
}
	
#main { /* SimpleX addition to center as well as make header footer 100% */
	min-height: 30em;
	position:relative;

	display: flex;
    	flex-wrap: wrap;
	}
#main, #disqus_thread {
	max-width: 46em;
	margin: 15px auto 30px auto;
	padding: 0 20px;
}
#content ul {
	margin-left: 4em;
	line-height: 1.7em;
}

h1, h2, h3 {
	font-weight:bold;
	letter-spacing: -.02em;
	text-indent: -2px;
	margin-bottom:0.7em;
}

h1 {
	font-size: 2.5em;
	margin-top: 0.0em;
}
h2 {
	font-size:1.9em;
	margin-top: 1.2em;
}
h3 {
	font-size: 1.4em;
	margin-top: 1.2em;
}
h4 {
	font-size: 1.15em;
	margin-top: 1.2em;
}

.postlink {  /*  Blog : links to articles  */
	font-weight:bold;
	font-size: 1.8em;
	display:block;
	color: inherit;
}

#sidebar {
	margin-top: 0.7em;
}
#sidebar h3 {  /*  /learn  Topics  */
	font-size: 2em;
	margin-bottom: 0.7em;
	margin-top: 0;
}
#sidebar ul li {
	list-style-type: none;
	list-style-image: none;	
	margin: 0 0 0.45em 0;
}
#sidebar ul .lvl0 {
	margin-top: 1.2em;
}
#sidebar ul .lvl1 {
	margin-left: 1.5em;
	font-size: 0.92em;
}
#sidebar ul .active {
	color: rgb(84, 180, 235);
}
#sidebar ul a {
	text-decoration: none;
	color: inherit;
	font-weight:bold;
}
	

table{
	border-collapse: collapse;
	margin: 0px auto 20px auto;
}
td, th{
	padding:4px 8px;
	border: 1px solid #777;
	margin:0;
}

pre, code {  /*  for code in API spec. */
	background-color: #f1f1f1;
	padding: 0.2em 0.5em;
}
pre {
	padding: 0.5em 1em;
	margin: 1em 0;
	line-height:1.4em;
        white-space: pre-wrap;  /*  break too long lines for small screens  */
	overflow: hidden;
}

